<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar</title>
</head>
<body>
    <h1>Listar</h1>
    <div th:if="${success}" class="alert alert-success">
        {{success}}
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Permissão</th>
            <th>Grupo</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">ID</td>
            <td th:text="${usuario.nome}">Nome</td>
            <td th:text="${usuario.email}">Email</td>
            <td th:text="${usuario.senha}">Senha</td>
            <td th:text="${usuario.permissao.nome}">Permissão</td>
            <td th:text="${usuario.grupo.nome}">Grupo</td>
        </tr>
    </table>
</body>
</html>